*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
}

.container{
    
    max-width: 1000px;
    margin: 5rem auto;
}

.imgDiv{
    text-align: center;
}

.tabs{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
}

.tabs li{
    font-size: 30px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    /* position: relative; */
    /* background-color: black; */
}

li:hover{
    color: yellow;
}

/* .tabs li ::after{
    content: "";
    position: absolute;
    bottom: -20%;
    left: -3%;
    height: 5px;
    width:0%;
    background-color:palevioletred;
} */

.content{
    position: relative;
}
.para{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.para.active{
    display: block;
}

.para p{
    font-size: 23px;
    text-align: center;
}