*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, #6600cc 0%, #9900cc 100%);display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pop_up{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    /* box-shadow: 10px 10px 5px lightblue; */
}

.container{
    max-width: 90%;
    background-color: lightgray;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
   
}

h1{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 33px;
    color: rgb(43, 0, 43);
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
    
}

a{
    text-decoration: none;
    color: rgb(43, 0, 43);
}

input{
    display: block;
    width: 90%;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
}

.Login_btn{
    padding: 10px 40px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}

.Login_btn:hover{
    border: 1px solid white;
}

.btn_action{
    text-align: center;
}

.final_Login{
    width: 450px;
    padding: 10px 40px;
    margin: 10px;
    background: linear-gradient(to top, #9900cc 0%, #ff66cc 100%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}

hr{
    border-top: 2px solid black;
}

.cancel_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: lightgray;
    color: rgb(83, 82, 82);
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.cancel_btn :hover{
    color:rgb(43, 0, 43);
    font-size: 32px;

}

.rise{
    opacity: 1;
    pointer-events: auto;
}