*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pop_up{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Login_btn{
    padding: 10px 40px;
    background: linear-gradient(to top, #9900cc 0%, #ff66cc 100%);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}