*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.906);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container{
    width: 70%;
    height: fit-content;
    max-width: 1400px;
    margin: 0 auto;
}

img{
    width: 1400px;
    width: 100%;
}

.btns{
    text-align: center;
}

button{
    font-size: 23px;
    font-weight: bold;
    width: 100px;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 3px 2px gray;
    border: none;
}
